<%- include('../partials/header'); %>
<html>
<section class="todoProfile">
    
    <link rel="stylesheet" href="/stylesheets/profile.css">
    
    <div class="profile">

        <a class="btn btn-success" href="/auth/<%= userLogueado.id %>/edit"> Editar Perfil</a>
        <img src= "<%= userLogueado.avatar %>" alt="imagen avatar">
        <h2>Nombre y apellido: <%= userLogueado.name %> <%= userLogueado.apellido %></h2>
        <h2>Email registrado: <%= userLogueado.email %></h2>

        <% let rolDescription %>
        <% for(userRol of rol) { %>
            <% if (userLogueado.idRol == userRol.id) {
                rolDescription = userRol.description;
            } %>
            
        <% } %> 
        
        <h2> Perfil: <%= rolDescription %></h2>

        </div>
        <div class="compras">
            <h2><a href="">Tus ultimas compras</a></h2>
        </div>
        
        <div class="botones-product-add">
                
            
      
        </div>
    </section>
    
    </html>
    
    
    <%- include('../partials/footer'); %> 
    